<link rel="stylesheet" href="{{ asset('bundles/dspsoftscronmanager/main.css') }}" />

<ul>
    <li><a href="{{ path('dsp_cm_crontasks_list') }}">Cron task list</a></li>
    <li><a href="{{ path('dsp_cm_crontasks_log') }}">Cron execution log</a></li>
</ul>

{% block body %}{% endblock %}